<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatapp_main.mapper.UserMapper">

  <select id="findUserByUsernam" resultType="com.example.chatapp_main.pojo.User">
    select * from user where username=#{username}
  </select>

  <select id="selectUserByPrimaryKey" resultType="com.example.chatapp_main.pojo.User">
    select * from user where id=#{id}
  </select>

  <select id="checkUsernameAndPassword" resultType="com.example.chatapp_main.pojo.User">
    select * from user where username=#{username} and password=#{password}
  </select>

  <update id="updateUserInfo" parameterType="com.example.chatapp_main.pojo.User">
        update user
      <trim prefix="set" suffixOverrides=",">
        <if test="password!=null">password=#{password},</if>
        <if test="nickname!=null">nickname=#{nickname},</if>
        <if test="imgurl!=null">imgurl=#{imgurl},</if>
        <if test="tel!=null">tel=#{tel},</if>
        <if test="address!=null">address=#{address},</if>
      </trim>
      WHERE id=#{id}
  </update>

  <insert id="insertSelective" parameterType="com.example.chatapp_main.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="nickname != null">
        #{nickname},
      </if>
      <if test="imgurl != null">
        #{imgurl},
      </if>
      <if test="tel != null">
        #{tel},
      </if>
      <if test="address != null">
        #{address},
      </if>
    </trim>
  </insert>
</mapper>